body {
    font-family: "Lato", sans-serif;
    background: #1111111c;
}

pre {
    font-size: 13px;
}

var {
    border: 1px solid black;
    padding: 2px 4px;
    font-weight: bold;
    font-style: initial;
}

.field {
    padding: 5px;
}

.fieldDoc {
    margin: 5px;
    background: #307d1530;
    padding-top: 7px;
    padding-left: 14px;
    padding-bottom: 7px;
}

.defaultValue {
    font-family: monospace;
    padding-left: 10px;
    color: #825401;
    font-size: 14px;
}

.tag {
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
    margin: 6px 2px 2px;
}

.optional {
    background-color: #69c449;
}

.mandatory {
    background-color: #ff8245;
}

.argument {
    background-color: #aaa4f2;
}

.fieldName {
    font-weight: bold;
    border: 2px solid gray;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
}

.version {
    border: 2px solid gray;
    text-align: center;
    padding-right: 5px;
    font-size: 16px;
    position: absolute;
    right: 32px;
    padding-left: 5px;
}

.sidefilter {
    height: 36px;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 4px;
    background-color: #393535;
    overflow-x: hidden;
}

.sidenav {
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 36px;
    bottom: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.filter-btn:hover {
    color: #ffffffc9;
    background: #2f71d9;
    cursor: pointer;
}

.hide-io { display: none; }
.hide-lambda { display: none; }
.hide-stateful { display: none; }
.hide-flow { display: none; }
.hide-stream { display: none; }

.show-io { display: inherit !important; }
.show-lambda { display: inherit !important; }
.show-stateful { display: inherit !important; }
.show-flow { display: inherit !important; }
.show-stream { display: inherit !important; }

.show-initial-io { display: inherit !important; }
.show-initial-lambda { display: inherit !important; }
.show-initial-stateful { display: inherit !important; }
.show-initial-flow { display: inherit !important; }
.show-initial-stream { display: inherit !important; }


.hide-btn {
    opacity: 0.4;
}

.filter-text {
    color: #499dc6;
    line-height: 26px;
    margin-left: 10%;
    font-weight: bolder;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 18px;
    color: #818181;
    display: inline-block;
    cursor: pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.lambda {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-right: 4px;

    color: orangered;
    border: 1px solid red;
}

.stream {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-right: 4px;

    color: #00b7ff;
    border: 1px solid #00b7ff;
}

.flow {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-right: 4px;
    margin-left: 4px;

    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.io {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-right: 4px;
    margin-left: 4px;

    color: #e3a52e;
    border: 1px solid #e3a52e;
}

.stateful {
    display: inline-block;
    width: 24px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-left: 4px;

    color: #ee21ff;
    border: 1px solid #ee21ff;
}

.main {
    margin-left: 350px; /* Same as the width of the sidenav */
    font-size: 18px; /* Increased text to enable scrolling */
    padding: 0 10px;
}
